alembic
psycopg2-binary
uvicorn
fastapi
libgravatar
python-jose
passlib
python-multipart
jwt
fastapi-mail
pydentic
pydantic-settings
fastapi-limiter
cloudinary
python-dotenv
python-decouple
decouple
pytest
httpx